MONGO_URI=mongodb+srv://sfallouseck1_db_user:8GDFn3R3XcNdWeUT@cluster0.gihk9bc.mongodb.net/
PORT=4000
ADMIN_EMAIL=admin@quincaillerie.com
ADMIN_PASSWORD=admin123
BASE_URL=https://quincalleriealdjana-1.onrender.com
CLOUDINARY_CLOUD_NAME=qihzn1q2
CLOUDINARY_API_KEY=189846781415957
CLOUDINARY_API_SECRET=s0KliZA0n_JM_cED5f9ATwEhmAs
